@model DynaDevFE.Models.KhachHangViewModel

@{
    ViewData["Title"] = "Chỉnh sửa thông tin cá nhân";
}

<h2 class="text-center my-4">@ViewData["Title"]</h2>
<div class="container">
    <form id="editForm" asp-action="Edit" method="post" class="border p-4 rounded shadow-sm">

        <input type="hidden" asp-for="MaKH" />

        <div class="mb-3">
            <label asp-for="TenKH" class="form-label">Tên Khách Hàng</label>
            <input asp-for="TenKH" class="form-control" required />
            <span asp-validation-for="TenKH" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DiaChi" class="form-label">Địa Chỉ</label>
            <input asp-for="DiaChi" class="form-control" />
            <span asp-validation-for="DiaChi" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="SDT" class="form-label">Số Điện Thoại</label>
            <input asp-for="SDT" class="form-control" />
            <span asp-validation-for="SDT" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" type="email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 position-relative">
            <label asp-for="MatKhau" class="form-label">Mật khẩu</label>
            <div class="input-group">
                <input asp-for="MatKhau" type="password" class="form-control" id="passwordInput" placeholder="Nhập mật khẩu mới (nếu có)" />
                <button type="button" class="btn btn-outline-secondary" id="togglePassword" tabindex="-1">
                    <i id="passwordIcon" class="bi bi-eye"></i>
                </button>
            </div>
            <span asp-validation-for="MatKhau" class="text-danger"></span>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Cập nhật" class="btn btn-primary" />
            <div class="text-center mt-3">
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </div>
      
    </form>


</div>
