@{
    ViewData["Title"] = "Thanh toán thất bại";
}

@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/Fail.css" />

<div class="failure-container">
    <div class="failure-icon"></div>
    <h2 class="fade-in">Thanh toán thất bại</h2>
    <p class="fade-in">Rất tiếc, đã có lỗi xảy ra trong quá trình thanh toán. Vui lòng thử lại hoặc kiểm tra phương thức thanh toán của bạn.</p>
    <a href="/" class="home-button">Quay về Trang chủ</a>
</div>

